@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body{
    background:
        url(./img/robotPng.webp) no-repeat,
        linear-gradient(to left, #373737, white); 
    background-size: 92.16rem 57.6rem, cover;
    background-position: left bottom;
    color: black;
    height: 100vh;
}

.titulos{
    height: 11rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: start;
    margin-left: 8rem;
}

.titulo__Principal{
    font-family: "Chakra Petch", sans-serif;
    font-size: 5rem;
}

.subtitulo{
    font-family: "Chakra Petch", sans-serif;
    font-size: 2rem;
}

textarea{
    width: 30rem;
    height: 43rem;
    font-size: 1.6rem;
    padding: 1rem;
    border: .2rem solid black;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
}

.formularios{
    height: 54.52rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: start;
    gap: 5rem;
    margin-right: 7rem;
}

.output__Text{
    position: relative;
}

#imagen__outputText{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input{
    width: 15rem;
    height: 3.5rem;
    margin-top: 1rem;
    border-radius: 1.6rem;
    background-color: #000000;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.5rem;
    border: .4rem solid #092327;
}

.input__Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.output__Button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center
}